<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hzzcms 编辑页</title>
    <link rel="stylesheet" href="/public/lib/layui/css/layui.css" media="all">
</head>
<body>
<p>
    子页面 具体执行信息 修改内容 和后台进行交互
</p>
<p>
    子页面 具体执行信息 修改内容 和后台进行交互
</p>
<p>
    子页面 具体执行信息 修改内容 和后台进行交互
</p>
<p>
    子页面 具体执行信息 修改内容 和后台进行交互
</p>


<script src="/public/lib/layui/layui.js"></script>

</body>
</html>
<script>

    // let getString = window.location.href;
    // getString = getString.split('=');
    // console.log('向后台请求id为' + getString[1] + '相应的数据')


</script>

