<div class="container-fluid container-fluid_nav">
    <div class="container">
        <div class="row">


            <div class="col-md-12">
                <nav class="navbar navbar-default navbar-mobile bootsnav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class=" nav-icon glyphicon glyphicon-align-justify"></i>
                        </button>
                    </div>
                    <div class="index-logo" style="">
                        <img src="/style/images/index_logo.png" alt="">
                    </div>


                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="fadeInLeft" >
                            <li><a href="/" class="fs-20">首页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于我们</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/about/introduction" class="index-ch">集团简介</a></li>
                                    <li><a href="dszjs.html" class="index-ch">董事长介绍</a></li>
                                    <li><a href="qywh.html" class="index-ch">企业文化</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">集团业务</a>
                                <ul class="dropdown-menu">
                                    <li><a href="jiaoyu.html" class="index-ch">教育板块</a></li>
                                    <li><a href="keji.html" class="index-ch">科技板块</a></li>
                                    <li><a href="shiye.html" class="index-ch">实业板块</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻中心</a>
                                <ul class="dropdown-menu">
                                    <li><a href="news.html" class="index-ch">集团新闻</a></li>
                                    <li><a href="news.html" class="index-ch">教育新闻</a></li>
                                    <li><a href="news.html" class="index-ch">科技新闻</a></li>
                                    <li><a href="news.html" class="index-ch">实业新闻</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">联系我们</a>
                                <ul class="dropdown-menu">
                                    <li><a href="join.html" class="index-ch">加入我们</a></li>
                                    <li><a href="contact.html" class="index-ch">联系我们</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>


        </div>
    </div>
</div>
